<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{/fragments/head :: head}"></head>

    <body>
        <nav th:replace="~{/fragments/navbar :: nav}"></nav>   
        <section class="description-section">
            <div class="description-content">
                <p class="descripcion" >
                    Bienvenidos a Cacctus

                    Explora el mundo de la elegancia confeccionada con esmero en Cacctus.
                    En el corazón de cada bandolera y accesorio, encontrarás nuestra dedicación a 
                    la autenticidad y la calidad. Creados meticulosamente a mano, nuestros productos destacan
                    por su originalidad y estilo único. Descubre el encanto de lo hecho con esmero y únete a nosotros 
                    en Cacctus, donde la distinción se encuentra con la dedicación.
                    ¡Bienvenidos a nuestro universo!</p>
                
                    <img src="/ImagenesIconos/imagenCacctusDescripcion.jpg" alt="Imagen Descriptiva">
                
            </div>

        </section>
        <section>
            <img src="/ImagenesIconos/bandoleras1.jpg" />
            <img src="/ImagenesIconos/bandoleras3.jpg" />
            <img src="/ImagenesIconos/bandoleras2.jpg" />
            <img src="/ImagenesIconos/bandoleras4.jpg" />
            <img src="/ImagenesIconos/bandoleras6.jpg" />
            <img src="/ImagenesIconos/bandoleras5.jpg" />
            <img src="/ImagenesIconos/bandoleras7.jpg" />
            <img src="/ImagenesIconos/bandoleras8.jpg" />

        </section>

    </body>
</html>